.register-page {
    .captcha-img-wrap {
        .input-group-text {
            padding: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
        .captcha-img {
            height: 35px;
        }
    }
}