.users-show-page {

    .topics {
        border-top: 0;
        margin-top: 1rem;
        .list-group-item {
            &:first-child {
                border-top: 0;
            }
        }
    }
    .topic-list {
        border-top: 0;
    }
}