

.icon.iconfont {
    font-size: 1rem !important;
    line-height: 0 !important;
}


.user-form {
    padding: 2rem 5rem;
    background-color: #fff;
    @include shadow-block;
    .form-group {
        margin-bottom: 2rem;
        label,
        .form-control {
            font-size: 1rem;
        }
    }
    button.form-submit-button {
        margin-top: 3rem;
        margin-bottom: 1rem;
    }
}

.page-header {
    margin-top: .5rem;
    margin-bottom: 2rem;
    .page-title {
        color: $parmary-color;
    }
}

.aside {
    border: 0;
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: .2rem;
    @include shadow-block;
}

.topic-wrap {
    background-color: #fff;
    padding: 2rem 1rem;
    border-radius: .2rem;
    @include shadow-block;
    .category-button {
        margin-left: 1em;
        position: relative;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-radius: 0em 0.2em 0.2rem 0em;
        transition: none;
        background-color: $parmary-color;
        border-color: $parmary-color;
        &::before {
            content: '';
            position: absolute;
            transform: translateY(-50%) translateX(50%) rotate(-45deg);
            top: 50%;
            right: 100%;
            background-color: inherit;
            background-image: none;
            width: 1.68em;
            height: 1.68em;
            transition: none;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: -0.25em;
            margin-top: -0.25em;
            background-color: #FFFFFF !important;
            width: 0.5em;
            height: 0.5em;
            -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.3);
            border-radius: 500rem;
        }
    }
}

.topic-list {
    margin-top: 2rem;
    border-top: 1px solid #eee;
    .media {
        padding: 1.25rem;
        border-bottom: 1px solid #eee;
        .media-left {
            min-width: 7rem;
            max-width: 10%;
        }
        .card {
            width: 100%;
            border: 0;
            .card-body {
                padding: 0;
                .topic-title {
                    color: #444;
                }
                .badge {
                    background-color: $parmary-color;
                }
            }
        }
    }
    .page-wrap {
        margin-top: 1.5rem;
    }
}


.user-heading {
    .avatar-wrap {
        width: 7rem;
        height: 7rem;
        margin: 1rem auto;
        text-align: center;
        border-radius: 50%;
        box-shadow: 1px 1px 16px #eee;
        border: 2px solid #00B5AD; // overflow: hidden;
        .user-avatar {
            height: 100%;
            max-width: 100%;
            @include shadow-block;
        }
    }
    a {
        text-decoration: none;
    }
}

.page {
    .page-wrap {
        margin-top: 1.5rem;
    }
}


.add-reply {
    .CodeMirror,
    .CodeMirror-scroll {
        border-radius: .2rem;
        min-height: 5rem;
    }
}
.reply-list {
    margin-top: 2rem;
    .media {
        padding: .4rem;
        border-bottom: 1px solid #eee;
        position: relative;
        .info {
            a {
                color: #657786;
                font-weight: bold;
            }
        }
        .media-left {
            min-width: 4rem;
            max-width: 10%;
            .avatar-box {
                margin-top: .8rem;
            }
        }
        .card {
            width: 100%;
            border: 0;
            margin: 0;
            .card-body {
                padding: .5rem;
            }
        }
        .delete-reply {
            position: absolute;
            top: .8rem;
            right: .8rem;
        }
    }
}
